<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/square_logo"
        android:label="Version V"
        android:roundIcon="@drawable/square_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserLoginSqlite"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".work_space"
            android:exported="false"/>
        <activity
            android:name=".recommendation"
            android:exported="false"/>
        <activity
            android:name=".combinations"
            android:exported="false"/>
        <activity
            android:name=".style_hub"
            android:exported="false" />
        <activity
            android:name=".AddItem"
            android:exported="false" />
        <activity
            android:name=".WardrobeActivity"
            android:exported="false" />
        <activity
            android:name=".user_profile_setup"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>